[Desktop Entry]
Name=Observer Prod
Exec=erl -hidden -name observer_prod -setcookie etp -s observer start_and_wait etp@dusxpetr002p.energycorp.com -s init stop -noshell
Type=Application
Icon=network
Terminal=false
