[Desktop Entry]
Name=Observer Prod
Exec=erl -hidden -name undefined -setcookie etp -s observer start_and_wait etp@dusxpetr001p.energycorp.com -s init stop -noshell
Type=Application
Icon=network
Terminal=false
