[Desktop Entry]
Name=Observer Dev
Exec=erl -hidden -name observer_dev -setcookie etp_test -s observer start_and_wait etp@weuxaetr001d.energycorp.com -s init stop -noshell
Type=Application
Icon=network
Terminal=false
